packages: [
  "atom-beautify"
  "atom-ternjs"
  "atom-typescript"
  "code-peek"
  "file-icons"
  "highlight-selected"
  "imdone-atom"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-markdown"
  "minimap"
  "minimap-cursorline"
  "minimap-linter"
  "nord-atom-syntax"
  "nord-atom-ui"
  "package-sync"
]
